body{
    /* background: #dfeceb; */
    background: #ffffff
}

.banner{
    /* background: url('background.jpeg'); */
    background: url('pexels-photo-1040499.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    color:  #ffffff
}

.shadow{
    box-shadow: 0px 0px 1px rgb(158, 148, 148)
}

.banner .temp{
    font-size: 4em !important;
}

.bg-white{
    background: #ffffff
}

.text{
    color: #0f9d58;
    margin-bottom: .1em !important;
}

.value{
    font-weight: 600;
    font-size: 1.5em;
    margin-top: 0 !important
}

.location{
    position: relative;
    right:  30px;
    /* top: -60px;  */
    float: right;
    background: #0f9d58;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.location i{
    font-size: 1.2em
}

.search-wrapper{
    background: #0f9d58ec;
    padding-top: 30%;
    position: absolute;
    top: 0em;
    left: 0;
    right: 0;
    height: 500px;
    display: none;
    /* z-index: 7; */
    /* transition: all 0.6s ease-in */
}



.icon{
    width: 150px;
    height: 150px;
}


.search-wrapper i{
    font-size: 1em
}

.search-wrapper input{
    border: 0;
    padding: 7px 20px 7px 10px;
    background: transparent;
    width: 50%;
    border-bottom: 1px solid rgb(16, 58, 16);
    transition: width .5s ease;
    color: #ffffff 
}

.search-wrapper input:focus{
    width: 80%;
    outline: 0;
}

::placeholder{
    color: #ffffff;
    font-style: italic;
}

.show{
    display: block
}

@media(max-width: 800px){
    .search-wrapper{
        padding-top: 45%
    }
}

@media(max-width: 500px){
    .search-wrapper{
        padding-top: 50%
    }
}

@media(max-width: 400px){
    .search-wrapper{
        padding-top: 60%
    }
}

@media(max-width: 321px){
    .search-wrapper{
        padding-top: 75%
    }
}